@import url("https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap");

$font-family_1: 'Lora', serif;

$background-color_1: rgb(148, 112, 75);
$font-family_1: fantasy;

$background-color_1: #d37d5e;
$background: #4b556e;
$color_3: #6f86c0;
$color_4: #f9ed69;


