@use "./partials/variables";

$color_4: #f9ed69;
$color_3: #6f86c0;

@mixin size-button {
	
}


.form-register {
	
	max-width: 100%;
	width: 450px;
	margin: auto;
	background: $color_4;
	padding: 10px 20px;
	box-sizing: border-box;
	margin-top: 50px;
	margin-bottom: 35px;
	border-radius: 2%;
	box-shadow: 1px 5px 25px;
	opacity: 85%;
}
input {
	width: 100%;
	margin-bottom: 20px;
	padding: 2px;
	font-size: 15px;
	
}
textarea {
	width: 100%;
	margin-bottom: 20px;
	padding: 2px;
	font-size: 15px;
	background: $color_3;
	max-width: 100%;
	height: 100px;
	width: 400px;
}
button {
	background: #4b556e;
	
	padding: 20px;
	border-radius: 10%;
	&:hover {
		cursor: pointer;
	}
}
