@use "./partials/variables";

$color_1: #fff;
$background-color_1: #5b40f3a6;

.gallery {
	padding-bottom: 3em;
	padding-top: 1em;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-auto-rows: 160px;
	grid-template-areas: "img1 img1 img2 img3" "img1 img1 img4 img4" "img5 img5 img6 img7" "img5 img5 img8 img9";
	gap: .8rem;
}
.gallery__picture {
	position: relative;
	cursor: pointer;
	overflow: hidden;
	&::before {
		content: "FOTOS";
		position: absolute;
		top: 0%;
		bottom: 0%;
		left: 0%;
		right: 0%;
		background-color: $background-color_1;
		transform: scale(0);
		transition-duration: 2s;
		color: $color_1;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1.5rem;
	}
	&:hover {
		&::before {
			transform: scale(1) rotate(360deg);
		}
	}
}
.gallery__picture--g1 {
	grid-area: img1;
}
.gallery__picture--g2 {
	grid-area: img2;
}
.gallery__picture--g3 {
	grid-area: img3;
}
.gallery__picture--g4 {
	grid-area: img4;
}
.gallery__picture--g5 {
	grid-area: img5;
}
.gallery__picture--g6 {
	grid-area: img6;
}
.gallery__picture--g7 {
	grid-area: img7;
}
.gallery__picture--g {
	grid-area: img8;
}
.gallery__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}
